<p id="notice"><%= notice %></p>

<div class="tinyfier container">
  <div class="header">
    <h1 class="text-center">Tiny URLs</h1>
    <h5 class="text-center">Generate a tinyfied version of your URL</h5>
  </div>

  <%= form_for @link, url: {controller: "links", action: "create"}, html: {class: "clearfix"}, remote: true do |f| %>
  <div class="input-group">
    <%= f.text_field :original, class: "form-control", placeholder: "Paste a link to shorten it" %>
    <span class="input-group-btn">
      <%= f.submit "Tinify!", class: "form-control btn btn-primary" %>
    </span>
  </div>
  <% end %>
</div>

<div class="tinyfied container"></div>

<% if @URI_Not_Found %>
  <script type="text/javascript">
    $(document).ready(function (){
      swal("Error!", "Tiny Url: '<%= @URI_Not_Found.html_safe %>' not found!", "error");
    });
  </script>
<% end %>
