<p id="notice"><%= notice %></p>

<p>
  <strong>Tinyfied:</strong>
  <%= @link.tinyfied %>
</p>

<p>
  <strong>Original:</strong>
  <%= @link.original %>
</p>

<p>
  <strong>Clicks:</strong>
  <%= @link.clicks %>
</p>

<%= link_to 'Back', links_path %>
